/*top*/
.top{
	width: 100%;
	height: 45px;
	background-color: rgba(4,4,4,0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;	
}
.nav{
	width: 1080px;
	height: 45px;
	margin: 0 auto;
}
.nav a{
	float: left;
	width: 120px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 1em;
	font-weight: lighter;
	color: rgba(200,200,200,1);
}
.nav a:hover{
	color: rgba(255,255,255,1); 
}
.logo{
	background: url(../images/logo1.png) no-repeat center center;
}
.logo:hover{
	background: url(../images/logo2.png) no-repeat center center;
}
.search{
	width: 120px;
	height: 40px;
	float: left;
	position: relative;
	background: url(../images/search1.png) no-repeat center center;
}
.search:hover{
	background: url(../images/search2.png) no-repeat center center;
}
.login{
	width: 120px;
	height: 40px;
	float: left;
	position: relative;
}
.searchform{
	width: 277px;
	height: 42px;
	display: none;
	position: absolute;
	padding-top: 10%;
	top: 100%;
	right: 0%;		
}
.searching{
	width: 225px;
	height: 40px;
	border: 1px double rgb(150,150,150);
	background-color: rgba(255,255,255,0.7);
}
.submit1{
	width: 50px;
	height: 42px;
	border: 1px solid black;
	background: rgba(4,4,4,0.7) url(../images/search1.png) no-repeat center center;
	cursor: pointer;
	vertical-align: bottom;
}
.submit1:hover{
	background: rgba(4,4,4,0.7) url(../images/search2.png) no-repeat center center;
}

.loginform{
	width: 192px;
	height: 64px;
	display: none;
	position: absolute;
	padding-top: 10%;
	top: 100%;
	right: 0%;	
}
.logining{
	width: 190px;
	height: 30px;
	border: 1px double rgb(150,150,150);
	background-color: rgba(255,255,255,0.7);
	float: left;
}
.password{
	width: 158px;
	height: 30px;
	border: 1px double rgb(150,150,150);
	background-color: rgba(255,255,255,0.7);
	float: left;
}
.submit2{
	width: 32px;
	height: 32px;
	border: 1px double rgb(150,150,150);
	background: rgba(255,255,255,0.7) url(../images/confirm.png) no-repeat center center;
	cursor: pointer;
	float: left;
}
.search:hover .searchform,.login:hover .loginform{
	display: inline-block;
}
/*SE*/
.iPhoneSE{
	width: 100%;
	height: 650px;
	background-color: rgba(17,17,17,1);
}
.iPhoneSE .pic{
	width: 1080px;
	height: 650px;
	margin: 0 auto;
	background: url(../images/se2.png) no-repeat center center;
	position: relative;
}
.iPhoneSE .introduce{
	width: 400px;
	position: absolute;
	top: 20%;
	left: 30%;	
}
.introduce:hover .details{
	text-decoration: underline;
}
/*11*/
.iPhone11{
	width: 100%;
	height: 650px;
	background-color: rgba(255,255,255,1);
}
.iPhone11 .pic{
	width: 1080px;
	height: 650px;
	margin: 0 auto;
	background: url(../images/11.jpg) no-repeat center center;
	position: relative;
}
.iPhone11 .introduce{
	width: 400px;
	position: absolute;
	top: 50%;
	left: 30%;
}
/*ProAndWWDC*/../
.ProAndWWDC{
	width: 100%;
	height: 570px;
	background-color: white;
}
.container{
	width: 1405px;
	height: 570px;
	margin: 0 auto;
}
.Pro11{
	width: 700px;
	height: 570px;
	margin-right: 5px;
	background: url(../images/11pro.png) no-repeat center center;
	float: left;
	position: relative;
}
.Pro11 .introduce{
	width: 400px;
	position: absolute;
	top: 50%;
	left: 23%;
}
.wwdc{
	width: 700px;
	height: 570px;
	float: left;
	position: relative;
	background: url(../images/wwdc.png) no-repeat center center;
}
.wwdc .introduce{
	width: 400px;
	position: absolute;
	top: 45%;
	left: 23%;
}
/*iPadPro*/
.iPadPro{
	width: 100%;
	height: 650px;
	background-color: rgba(255,255,255,1);
}
.iPadPro .pic{
	width: 1080px;
	height: 650px;
	margin: 0 auto;
	background: url(../images/ipad.jpg) no-repeat center center;
	position: relative;
}
.iPadPro .introduce{
	width: 400px;
	position: absolute;
	top: 10%;
	left: 30%;
}
/*bookandair*/
.bookandair{
	width: 100%;
	height: 600px;
	background-color: white;
}
.ct1{
	width: 700px;
	height: 600px;
	float: left;
	margin-right: 5px;
	position: relative;
}
.ct1 .introduce{
	width: 700px;
	height: 215px;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: rgb(19,16,23);
}
.ct1pic{
	width: 700px;
	height: 385px;
	position: absolute;
	bottom: 0%;
	left: 0%;
	background: url(../images/macbookpro.png) no-repeat center center;
}
.ct2{
	width: 700px;
	height: 600px;
	float: left;
	position: relative;
}
.ct2 .introduce{
	width: 700px;
	height: 235px;
	position: absolute;
	top: 0%;
	left: 0%;
	background-color: black;
}
.ct2pic{
	width: 700px;
	height: 365px;
	position: absolute;
	bottom: 0%;
	left: 0%;
	background: url(../images/airpods.png) no-repeat center center;
}

/*bottom*/
.bottom{
	width: 100%;
	margin-top: 5px;
	background-color: rgb(230,230,230);
}
.bottom a:hover{
	text-decoration: underline;
}
.explain{
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
	font-size: 0.5em;
	color: rgb(150,150,150);
	border-bottom: 1px solid rgb(200,200,200);
}
.support{
	width: 1000px;
	margin: 0 auto;
	padding: 10px 0;
	border-bottom: 1px solid rgb(200,200,200);
	position: relative;
}
.support ul{
	float: left;
}
.support li{
	width: 200px;
	padding-top: 4px;
}
.support a{
	font-size: 0.5em;
	font-weight: lighter;
	color: rgb(120,120,120);
}
.contact{
	float: left;
	bottom: 3%;
	left: 0%;
	font-size: 0.5em;
	color: rgb(120,120,120);
}
.contact a{
	font-size: 0.5em;
	color: rgb(0,100,200);
}
.service{
	width: 1000px;
	margin: 0 auto;
	padding-top: 10px;
	position: relative;
}
.service .p1{
	width: 300px;
	font-size:0.5em;
	color:rgb(120,120,120);
	font-weight: lighter;
	float: left;
}
.service .p2{
	float: left;
	text-align: center;
	height: 16px;
	line-height: 16px;
}
.service .p2 a{
	float: left;
	width: 60px;
	border-right: 1px solid rgb(120,120,120);
	font-size: 0.5em;
	color: rgb(80,80,80);
}
.service .p3{
	font-size: 0.5em;
	color: black;
	font-weight: lighter;
}